body {
  font-family: "Mali", cursive;
  color: #413f42;
  background-color: #ebc7e8;
  margin-top: 40px;
  margin-left: 40px;
}

li {
  list-style: none;
}
a {
  color: #645caa;
}
.container {
  margin-left: 20px;
}

.input {
  border-radius: 5px;
  border-style: none;
  outline-color: #bface0;

  padding: 10px;
  width: 500px;
  margin-right: 5px;
}
.button-search {
  font-size: 14px;
  background-color: #bface0;
  color: white;

  border-radius: 30px;
  border-style: none;
  transition: all 150ms ease-in-out;
  padding: 11px;

  width: 150px;
}
.button-current {
  font-size: 13px;
  background-color: #bface0;
  color: #645caa;
  border-radius: 30px;
  border-style: none;
  transition: all 150ms ease-in-out;

  font-size: 15px;
  padding: 10px;

  width: 150px;
}

.button-search:hover {
  cursor: pointer;
  background-color: white;
  color: #bface0;
}
.button-current:hover {
  cursor: pointer;
  background-color: white;
  color: #bface0;
}
.main-city {
  color: #645caa;
  font-size: 90px;
  font-weight: 500;
  text-align: left;
}
.main-temperature {
  color: #645caa;
  font-size: 40px;
  margin-left: -25px;
}

.main-condition {
  color: hsl(246, 31%, 51%);
  font-size: 30px;
  text-transform: capitalize;
  margin-left: -25px;
}
.main-wind {
  font-size: 30px;
  opacity: 0.8;
  margin-left: -35px;
  margin-bottom: 15px;
}
.main-humidity {
  font-size: 30px;
  opacity: 0.8;
  margin-left: -35px;
}
.update {
  margin-top: 15px;
  font-size: 15px;
  text-align: left;
  opacity: 0.8;
}

.metrics {
  font-size: 40px;
}
.main-image {
  margin-top: -130px;
  margin-left: -50px;
}

.forecast {
  margin-top: 15px;
  margin-bottom: 35px;
  margin-left: -40px;
}
.forecast-day,
.forecast-temp {
  font-size: 20px;
  text-align: center;
}
.forecast-image {
  display: block;
  margin: 0 auto;
}
.coder {
  font-size: 13px;
}
