body {
  font-family: "Mali", cursive;
  color: #413f42;
  background-color: #ebc7e8;
  margin: 30px 100px 0 100px;
}

li {
  list-style: none;
}

a {
  color: #645caa;
}
.container {
  margin: 0;
  padding: 0;
}
.input {
  border-radius: 5px;
  border-style: none;
  outline-color: #bface0;

  padding: 10px;
  width: 100%;
  margin-right: 10px;
}
.button-search {
  font-size: 20px;
  font-weight: 500;
  background-color: #bface0;
  color: white;

  border-radius: 30px;
  border-style: none;
  transition: all 150ms ease-in-out;
  padding: 8px;

  width: 100%;
}
.button-current {
  font-size: 20px;
  font-weight: 500;
  background-color: #bface0;
  color: #645caa;
  border-radius: 30px;
  border-style: none;
  transition: all 150ms ease-in-out;
  padding: 8px;

  width: 100%;
}

.button-search:hover {
  cursor: pointer;
  background-color: white;
  color: #bface0;
}
.button-current:hover {
  cursor: pointer;
  background-color: white;
  color: #bface0;
}
.main-city {
  color: #645caa;
  font-size: 100px;
  font-weight: 600;
}
.main-temperature {
  color: #645caa;
  font-size: 90px;
  margin-top: -20px;
}

.main-condition {
  color: hsl(246, 31%, 51%);
  font-size: 50px;
  text-transform: uppercase;
}
.main-wind {
  font-size: 32px;
  opacity: 0.7;
  font-weight: 800;
}
.main-humidity {
  font-size: 32px;
  opacity: 0.7;
  font-weight: 800;
}
.update {
  margin-top: 15px;
  font-size: 20px;
  text-align: left;
  opacity: 0.9;
}

.metrics {
  font-size: 80px;
}
.main-image {
  padding-left: 100px;
  margin-top: -20px;
}

.forecast {
  margin-bottom: 20px;
  margin-top: 10px;
}

.forecast-day,
.forecast-temp {
  font-size: 18px;
}

.coder {
  font-size: 13px;
}
