body {
  font-family: "Mali", cursive;
  color: #413f42;
}
ul {
  padding: 0;
  margin-left: 15px;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: #645caa;
}
.wrapper-app {
  max-width: 350px;
  padding: 30px;
  background-color: #ebc7e8;

  border-radius: 10px;
}
.wrapper {
  max-width: 350px;
  display: block;
  margin: 20px auto;
}
.input {
  border-radius: 5px;
  border-style: none;
  outline-color: #bface0;

  padding: 5px;
  width: 203px;
}
.button-search {
  font-size: 14px;
  background-color: #bface0;
  color: #645caa;

  border-radius: 30px;
  border-style: none;
  transition: all 150ms ease-in-out;
  padding: 7px;

  width: 80px;
}
.button-current {
  font-size: 13px;
  background-color: #bface0;
  color: white;
  border-radius: 30px;
  border-style: none;
  transition: all 150ms ease-in-out;

  margin-top: 10px;
  font-size: 15px;
  width: 290px;
}

.button-search:hover {
  cursor: pointer;
  background-color: white;
  color: #bface0;
}
.button-current:hover {
  cursor: pointer;
  background-color: white;
  color: #bface0;
}
.main-city {
  color: #645caa;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
.main-temperature {
  color: #645caa;
  font-size: 25px;
}
.date {
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.main-condition {
  color: #645caa;
  font-size: 20px;
}
.col-4 {
  margin-top: 15px;
}
